<div style="display: flex">
<div style="flex: 1"><button class="btn-primary">TODAY</button></div>
<div style="flex: 1">
  <div class="text-center">
    <button class="btn-primary"><</button>
    <strong>10-16 January 2017</strong>
    <button class="btn-primary">></button>
  </div>
</div>
<div style="flex: 1">
<div class="pull-right">
  <button class="btn-default">DAY</button>
  <button class="btn-primary">WEEK</button>
  <button class="btn-default">MONTH</button>
  <button class="btn-default">YEAR</button>
</div>
</div>
</div>